node_modules
dist
coverage
.vscode
.serverless
.git
.webpack
.*
webpack.config.js
*.docx
*.json
*.md
apps/temp
*.yml
**/__snapshots__
**/*.snap
*.log
*.txt
jest.config.*
commitlint.config.js
ssm-object-helper.js
